<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-admob-vungle" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>cordova-plugin-admob-vungle</name>
    <description>Cordova AdMob Mediation Plugin for Vungle</description>

    <engines>
        <engine name="cordova" version=">=3" />
    </engines>

    <platform name="android">
        <framework src="com.google.ads.mediation:vungle:6.12.1.0" />
    </platform>

    <platform name="ios">
        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="GoogleMobileAdsMediationVungle" spec="6.10.5.1"/>
            </pods>
        </podspec>

        <header-file src="src/ios/Vungle.h" />
        <source-file src="src/ios/Vungle.m" />
    </platform>

	<config-file parent="/*" target="config.xml">
		<preference name="REWARDVIDEO_ID" value="$REWARDVIDEO_ID"/>
	</config-file>
</plugin>
